@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
   font-family: "Inter", serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
 }
 .page-background{
    background-color: black;  
 }

 /* shared styles */
 .display-flex{
   display: flex;
 }
 .text-withe{
   color: #FFFFFF;
 }
 .bg-light{
   background-color: rgba(17, 17, 17, 1);
 }
 .fitness-color{
   color: #E6533C;
 }
 .btn-primary{
  background-color: #E6533C;

 }
 .text-size{
  font-weight: 600;
  font-size: 2.5rem;
 }
 .description{
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.1rem;
 }
 .habits{
  font-weight: 600;
 }
 /*------- shared styles -------- */
 /* header styles */

 /* navbar related styles */

 .navbar{
     justify-content: space-between;
     align-items: center;
 }
 .nav-item{
   list-style: none;
   margin-right: 45px;
 }

 .nav-link{
   text-decoration: none;
 }
 .navbar, .banner{
   max-width: 1440px;
   margin: 0 auto;
 
 }
 .brand{
    font-weight: 700;
    font-size: 2rem;
    font-style: italic;
 }
 .btn-home{
  width: 91px;
  height: 35px;
  border-radius: 45px;
  border: 0px;

 }
 /* banner related styles */
 .banner{
  width: 100%;
  justify-content: space-between;
  align-items: center;
  
 }

 .banner-content{
  max-width: 600px;  
 }
.banner-title{
  font-size: 4rem;
}
 .btn-join{
  width: 200px;
  height: 50px;
  padding: 10px 35px;
  border-radius: 42px;
  border: 0px;
 }
 .btn-down{
  width: 200px;
  height: 50px;
  padding: 10px 35px;
  border-radius: 42px;
  border-color: #FFFFFF;
  background-color: black;
 }
 .banner-image{
  width: 345px;
  height: 580px;
 }
 .join-btn{
  gap: 14px;
 }
 #experience-badge{
  padding: 45px 42px;
  margin-right: 1000px;

 }
 #experience-year{
  font-size: 1rem;
  font-weight: 600;
 }

 /* Main section  */
 main{
  
  max-width: 1440px;
  margin: 0 auto;
 }
/* ----------------------Section ------------------- */
 
 /* Habits section  */
 section{
  margin-top: 100px;
 }
 .habits{
  text-align: center;
  
 }
 .habit-section{
  padding: 0px 185px;
 }
 /* Run section  */
 .run-section{
  background-color: #222222;
  border-radius: 30px;
 }
 .run{
  display: flex;
  justify-content: space-between;
  gap: 150px;
  
 }
 .run-content{
  max-width: 440px;
  padding: 40px 54px;
 }
 
 .run-image{
  width: 365px;
  padding: 30px;
  border-radius: 40px;
  object-fit: cover;
  overflow: hidden;
 }
  .bmi-container{
    gap: 180px;
  }
 /* images skills */
 /* .skill-image{
 display: grid;
 grid-template-columns: repeat(4, 1fr);
  
 } */
 .skill-image{
  gap: 40px;
  margin-top: 58px;
 }
  .main-img{
    border-radius: 50%;
  }

  /* BMI Calculator section */

    .bmi-header{
      max-width: 670px;
      margin: 0 auto;

    }
    .bmi-h2{

    }
              /* -----------table section -------- */
    table{
      border-collapse: collapse;
    }
    td, th{
      border: 0.1px solid #FFFFFF;
      padding: 13px 18px ;
      color: rgba(255, 255, 255, 0.5);
    }

    .input, select, button {
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      border-radius: 5px;
      border: 1px solid #ccc;
      box-sizing: border-box;
  }
   /* Meet Our Team */
  
  .teams-img-container img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 18px;
  }
  .teams-img-container {
  
     display: grid;
     grid-template-columns: repeat(3, 0.1fr);
    justify-content: center;
    padding: 10px;
    gap: 10px;
  }


  /* ---------footer section ---------- */
  .footer-bg{
    background-color: rgba(255, 255, 255, 0.1);
    max-width: 1440px;
    margin: 0 auto;

  }
  .footer-column{
    padding: 50px 150px  ;
  }
  .footer-title{
    color: #E6533C;
    font-weight: 700;
    font-size: 4.3rem;
    
  }
  .footer-header{
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    font-size: 2rem;
    
  }
  .fot-title{
    font-weight: 400;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.5);
  }
  .hr {
    border: none;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 70%;
    margin: 10px auto;
    
}
.text-foot{
  font-weight: 400;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  padding: 0px 35px;
}


/* Responsive Styles */

@media screen and (max-width:576px) {
  .nav-item{
    display: none;
  }
  .banner{
    flex-direction: column;
  }
  .join-btn{
    display: flex;
    gap: 14px;
  }
  .btn-join, .btn-down{
    width: 100%;
  }
  /* habit section  */
  .habit-section{
    padding: 0px;
  }
  .skill-image  {
   flex-direction: column;

  }
  /* run */
  .run{
    flex-direction: column;
    gap: 20px;
  }
  .run-image{
    align-items: center;
    width: 287px;
  }
}
